
.nothing__main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: $base-grey;
    color: $primary;

    p {
        text-align: center;
        font-weight: bold;
    }
}