
// Colors

$primary: #F45D48;
$secondary: #0A8080;
$white: #fff;
$dark-grey: #1C1C1C;
$grey: #5E5E5D;
$light-grey:#E3E3E3;
$light-blue:#E9EFF6;
$base-grey: #F5F3F2;
$google-blue: #4285f4;
$button-active-blue: #1669f2;